<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="ja">

<title>Deletter</title>
<meta name="Description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href="/assets/css/site.css" rel="stylesheet">
<link rel="canonical" href="https://getbootstrap.jp/docs/5.0/examples/grid/">
<title>DeleteTweet</title>

<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta name="author" content="syuzen" />

</head>
<body>
	<header>
		<div class="navbar navbar-dark bg-dark header sticky-top">
			<div class="container-fluid">
          <div>
            <strong class="navbar-brand">DeleteTweet</strong>
          </div>
			</div>
		</div>
	</header>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">ツイートを一括削除</h1>
        <p class="lead text-muted">DeleteTwitterでは自身のツイートを一覧表示し、選択して一括削除することが可能です。<br>あなたの不要となったツイートを整理しましょう。</p>
        <p>
          <a href="/main" class="btn btn-primary my-2">Twitterアカウントでログイン</a>
        </p>
      </div>
    </div>
  </section>
</body>
</html>